.griding
{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 row-gap: 5px;
 column-gap: 5px;
}
.bggg
{
  background-color: rgba(12, 66, 62, 0.514);
  width: 50px;
  height: 220px;
}

@media (max-width: 580px) {
  .griding
{
 display: grid;
 grid-template-columns: 1fr ;
 row-gap: 5px;
 column-gap: 5px;
}
}